<form [formGroup]="todoForm">
  <div class="addField">
    <input
      type="text"
      placeholder="Add your new todo"
      formControlName="jobDescription"
    />
    <input type="button" (click)="createTodo()" value="Add" />
  </div>
</form>
<div class="todoList" *ngFor="let item of todoList">
  <li *ngIf="item.checked" [ngStyle]="extraStyle">
    <ng-container *ngTemplateOutlet="checked"></ng-container>
  </li>
  <li *ngIf="!item.checked">
    <ng-container *ngTemplateOutlet="checked"></ng-container>
  </li>

  <button class="fa fa-trash" (click)="delete(item.todo.id)"></button>
  <ng-template #checked>
    <input
      type="checkbox"
      [checked]="item.checked"
      (change)="check($event, item)"
    />
    {{ item.todo.jobDescription }}</ng-template
  >
</div>
